{% extends "base.html" %}
{% block title %}Admin Home{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/addven">Add Venue</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% endblock %}
{%block content%}
<h1>Dashboard</h1>
{% if venue%}

<ul class="list-group list-group-flush" id="venue">
    {%for ven in venue%}
    <div>
<h4 class ="head">{{ ven.name }}</h4>
        <p>{{"City: "}}{{ven.city}}</p>
        {{"Shows:"}}
        <br>
        {%for s in show%}
        {%if s.venue_id == ven.id%}
        <div>
          {{s.name}}
          </div>
          
          <div class="form-container">
          <form action="{{ url_for('auth.update_show', show_id=s.id)}}">
          <button type="submit" class="btn btn-primary">Edit show</button>
        </form>
        <form action="{{ url_for('auth.delete_show', show_id=s.id)}}">
          <button type="submit" onclick="return confirm('Are you sure you want to delete this Show?')" class="btn btn-danger">Delete show</button>
        </form>
        </div>
        <br>
        {%endif%}
        {%endfor%}
          <div class="form-container">
          <form action="{{ url_for('auth.addshow', venue_id=ven.id) }}">
          <button type="submit" class="btn btn-primary">Add show</button>
          </form>
          <form action="{{ url_for('auth.updatevenue', venue_id=ven.id) }}">
          <button type="submit" class="btn btn-primary">Update</button>
          </form>
          <form action="{{ url_for('auth.delete_venue', venue_id=ven.id) }}" method="post">
          <button type="submit" onclick="return confirm('Are you sure you want to delete this venue?')" class="btn btn-danger">Delete</button>
          </form>
        </div>
    </div>
    {% for i in range(0,72)%}
        {{"_"}}
        {%endfor%}
    {%endfor%}
</ul>
{%else%}
<p>No venues</p>
{%endif%}
{%endblock%}