{% extends "base.html" %}
{% block title %}User Login{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/admin">ADMIN</a>
<a class="nav-item nav-link" href="/usersignup">Signup</a>
{% endblock %}
{% block content %}

<form method="POST">
   
    <h4 align="centre"style="margin-top: 100px;">User Login</h4>
    <div class="form-group" >
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password" name="password1" placeholder="Enter password">
    </div>
    <button type="submit"class="btn btn-primary">Submit</button>
</form>
<br>
<div>
    <a href="/usersignup"><button type="submit"class="btn btn-primary">Register</button></a>
</div>
{% endblock %}

