{% extends "base.html" %}
{% block title %}User Home{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/usrbook">Bookings</a>
<a class="nav-item nav-link" href="/logout">Logout</a>
{% endblock %}
{%block content%}
<h1>Welcome {{current_user.name}}</h1>
<form method = "POST" class="form-container">
    <label for="city">City:</label>
    <input type="text" class="form-control" name="city" id="city">
    <label for="date">Date:</label>
    <input type="date" name="date" class="form-control" >
    <label>Tags:</label>
    <input type="text" class="form-control" name="Tags" id="Tags">
    <label for="movie"> Search by name:</label>
    <input type="text" class="form-control" name="movie" id="movie">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>

    {%set x=0%}
    {%if venue%}
    {%if tags%}
    <p>{{"Showing result for the tag "}}{{tags[0].tag}}</p>
    {%endif%}
    {%for v in venue%}
    <br>
        <h3>{{v.name}}</h3>
        <form action="{{ url_for('auth.vdetail', venue_id=v.id) }}">
        <button type="submit" class="btn btn-primary">Venue details</button>
        </form>
        {%set n=0%}
        {%if show%}
        {%set s= show[0]%}
        {%set val=valid[0]%}
        {%for i in range(show|length)%}
        {%set s=show[i]%}
        {%set val=valid[i]%}
        {%if s.venue_id==v.id%}
        {%if val==True%}
            {%if tags%}
            {%for t in tags%}
                {%if t.show_id==s.id%}
                {%if s.capacity == 0%}
                <h5>HOUSEFULL!!</h5>
                {%endif%}
                <h5><div>{{"Show name: "}}{{ s.name}}{{"   Show rating : "}}{{s.rating}}{{"   Show timing: "}}{{ s.time}}{{"   Available seats:"}}{{ s.capacity }}</div></h5>
                <form action="{{ url_for('auth.book', show_id=s.id) }}">
                <button type="submit" class="btn btn-primary">Book</button>
                </form>
                {%endif%}
            {%endfor%}
            {%else%}
            {%if s.capacity == 0%}
                <h5>HOUSEFULL!!</h5>
                {%endif%}
                <h5><div>{{"Show name: "}}{{ s.name}}{{"   Show rating : "}}{{s.rating}}{{"   Show timing: "}}{{ s.time}}{{"   Available seats:"}}{{ s.capacity }}</div></h5>
                <form action="{{ url_for('auth.book', show_id=s.id) }}">
                <button type="submit" class="btn btn-primary">Book</button>
                </form>
            {%endif%}
            {%endif%}
        {%endif%}
        {%endfor%}
        {%endif%}
    {%endfor%}
    {%else%}
    {{"no venue/shows for the given details"}}
    {%endif%}
{%endblock%}