{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/user/dashboard">Dashboard</a>
<a class="nav-item nav-link" href="/logout">Logout</a>
{% endblock %}
{% block content %}

{% if book%}
<h4> Bookings:</h4>
<h5>{{current_user.name}}</h5>
{% for b in book%}
  {% for s in show%}
    {% if s.id==b.show_id%}
        <h5>{{"­­­ ­ ­ ­ Booking id: "}}{{b.id}}{{"­­­ ­ ­ ­ Movie name: "}}{{s.name}}{{"­­­ ­ ­ ­ Date: "}}{{s.date}}{{"­­­ ­ ­ ­ Time: "}}{{s.time}}{{"­­­ ­ ­ ­ Tickets: "}}{{b.tick}}{{"­­­ ­ ­ ­ Status: "}}{{"Confirmed"}}</h5>
    {%endif%}
    {%endfor%}
{%endfor%}
{%else%}
<h5>No Bookings yet {{current_user.name}}</h5>
{%endif%}    
{%endblock%}