{% extends "base.html" %}
{% block title %}Home{% endblock %}{% block content %}
    <title>Booking Confirmation</title>
  </head>
  <body>
    <h1>Booking Confirmation</h1>
    <p>Your booking has been confirmed:</p>
    <ul>
      <li>Show ID: {{ show_id }}</li>
      <li>Number of Tickets: {{ num }}</li>
      <li>Total Cost: {{ total }}</li>
      <li>Username: {{ usr }}</li>
    </ul>
    <p>Redirecting to home page...</p>
    <meta http-equiv="refresh" content="3;url=/user/dashboard" />
{%endblock%}