{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}

<a class="nav-item nav-link" href="/about">About</a>
{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<h1 >MAD-1 project</h1>
</div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 100px;">
        <a href="/admin"><button type="submit" class="btn btn-primary" style="width: 150px; height: 50px; margin-bottom: 20px">Admin</button></a>
        <a href="/userlogin"><button type="submit"class="btn btn-primary" style="width: 150px; height: 50px; margin-bottom: 20px">User</button></a>
    </div>
{%endblock%}